<html>
<body>
  {{#if request}}
    {{request}}
  {{/if}}
  <form method="post">
    Page to archive<br>
    <input type="text" name="url">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
